.score{
    height:60px;
    width:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: slategrey;
    color: white;
    border-radius: 7px;
}