
.app{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    background-color: azure;


}
.game{
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;

}
.game img{
    width: 70px;
    height: 70px;
}